<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
  <meta charset="UTF-8">
  <script src="js/angular.js"></script>
  <title></title>
</head>
<body>
<div ng-controller="myCtrl">
  <button ng-click="start()">start</button>
  <button ng-click="end()">end</button>
</div>
<script>
  angular.module('myModule', ['ng'])
    .service('$control',function($interval){
      var t='';
      this.begin=function(){
        t=$interval(function(){
          console.log('开始打印')
        },1000)
      }
      this.end=function(){
        $interval.cancel(t);
      }
    })
    .controller('myCtrl', function ($scope,$control) {
      $scope.start=function(){
        $control.begin();
      }
      $scope.end=function(){
        $control.end();
      }

    })
</script>
</body>
</html>